{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} UI Tables {% endblock title %}

<style type="text/css">
  
 
 pre {
            background-color: #f5f5f5;
            border: 1px solid #ddd;
            padding: 10px;
            font-family: 'Courier New', monospace;
            font-size: 14px;
            line-height: 1.5;
            white-space: pre-wrap;
            word-wrap: break-word;
            text-wrap: wrap !important;
        }

</style>
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% load widget_tweaks %}
{% block content %}
     <div class="banner-area text-combo top-pad-90 rectangular-shape bg-light-gradient ">
        <div class="item">
            <div class="box-table">
                <div class="box-cell">
                    <div class="containedr mx-4 " style="display: flex; align-items: center; flex-direction: column; width:100%;" >
                  

                       <div class="  px-5 py-2" style="width:100%" >
                                <div class="text-center "  >
                                  <img style="width: 55px;" src="{{icon}}"/>
                                    <h3 class="wow fadeInDown text-center text-capitalize mt-2 mb-2" data-wow-duration="1s" style="font-size:30px; font-weight: bolder; " >
     {% if type_name == 'ai model' %}                
New Project

  {% else %}
  {{type_name}}
  {% endif %}
                         </h3>
                                    <p class="mt-0 mb-3 text-secondary mx-10 " > 

                                           {% if type_name == 'datasets' %}
Access pre-defined datasets for testing and demonstration purposes.
 
{% endif %}

{% if type_name == 'pipeline' %}
Efficiently read and process data from your pipelines.
{% endif %}

{% if type_name == 'pipeline' %}
Scrape and process content from website.
{% endif %}

{% if type_name == 'email' %}
Connect to your email and streamline interactions with ease.
{% endif %}

{% if type_name == 'ai model' %}
Create a new project.
{% endif %}
 
{% if source_val == 'database' %}
Seamlessly integrate with {{type_name}} DB for data retrieval and loading.
{% endif %}
 

 {% if source_val == 'flatfile' %}
Read and process data from {{type_name}} File.
{% endif %}


{% if source_val == 'api' %}
Connect to {{type_name}} API for data retrieval and exchange.
{% endif %}


{% if source_val == 'application' %}
Integrate with {{type_name}} application for streamlined data flow.
{% endif %}
 

{% if source_val == 'cloud' %}
Integrate with {{type_name}} cloud storage platform for efficient data transfer.
{% endif %}

{% if source_val == 'iot' %}
Connect and process data from {{type_name}} devices and sensors.
{% endif %}
</p>
                                </div>


                           </div>



<form class="  w-70  py-3 px-5 mt-4" id='cred-form'   enctype="multipart/form-data" method="POST" action="" 
style="background-color:white; 
border: 1px solid #e3e1e1; border-radius: 6px;" > 
 
   {% csrf_token %}
    <input type="text" class="form-control" style="display:none;"  value="{{source_val}}" id="connector_type" name="connector_type">
     <input type="text" class="form-control" style="display:none;"  value="{% if redirect %}{{redirect}}{% endif %}" id="redirect" name="redirect">
       <input type="text" class="form-control" style="display:none;"  value="{{type_name}}" id="db_type" name="db_type">
    <input type="text" class="form-control" style="display:none;"  value="{{connector.pk}}" id="connector_pk" name="connector_pk">    
    <input type="text" class="form-control" style="display:none;"  value="{% if exclude %}{{exclude}}{% endif %}" id="exclude" name="exclude">
    <input type="text" class="form-control" style="display:none;"  value="{% if connections_pk %}{{connections_pk}}{% endif %}" id="connections_pk" name="connections_pk">


{% if type_name == 'datasets' %} 

<!-- Select fakedata sample -->
<div class="form-group my-3 w-100" style="height:180%;" id="{{type_name}}" >
     <div class="mb-3">
    <label for="connector_name" class="form-label">Name</label>
    <input type="text" class="form-control mb-3"   value="{{connector.name}}" id="connector_name" name="connector_name" placeholder="Provide name for your connector" >

  


 <label for="connector_description" class="form-label mt-1">Description</label>
    <textarea type="text" class="form-control  "   value="{{connector.description}}"  id="connector_description" name="connector_description" placeholder="Provide Description" rows="5" ></textarea>


  </div>
 
   <label for="dummy" class="form-label">Datasets</label>

      <select class="form-controls" id="choices-multiple-remove-button"   name="datasets"    placeholder="Search Datasets"   required style="border-radius:5px;" >

      <option value={{item.id}} selected  value="">-- Search Datasets --</option>
        {% for item in data %}
        {% if item.id == post_data.datasets %}
      <option value={{item.id}} selected  value="">{{item.name}}</option>
      {% else %}
      <option value={{item.id}}  value="">{{item.name}}</option>

      {% endif %}
    {% endfor %}

  
  </select>

<input type="text" name="datasets_description" id="datasets_description" style="display: none;" >
  
</div>



<!-- <div class="form-group">
  <label for="sample-number" >Duplicate Dataset:</label>

{% if post_data.datasets_number %}

  <input type="number" class="form-control" id="sample-number"  value="{{post_data.datasets_number}}" name="datasets_number" placeholder="10"   />

{% else %}

  <input type="number" class="form-control" id="sample-number"  name="datasets_number" value=10   />

  {% endif %}
</div>
 -->

 
{% endif %}



{% if type_name == 'blank' %} 

<!-- Select fakedata sample -->
<div class="form-group my-1 w-100" style="height:180%;" id="{{type_name}}" >
     <div class="mb-3">
    <label for="connector_name" class="form-label">Name</label>
    <input type="text" class="form-control mb-3"   value="{{connector.name}}" id="connector_name" name="connector_name" placeholder="Provide name for your connector" >

  


 <label for="connector_description" class="form-label mt-1">Description</label>
    <input type="text" class="form-control  "   value="{{connector.description}}"  id="connector_description" name="connector_description" placeholder="Provide Description" />


  </div>
 
   <label for="dummy" class="form-label">Raw Data</label>

    <textarea type="text" class="form-control  "   value="{{post_data.data}}"  id="data" name="data" placeholder="Enter raw data" rows="15" ></textarea>



<input type="text" name="datasets_description" id="datasets_description" style="display: none;" >
  
</div>

 

 
{% endif %}




{% if type_name == 'pye da' %}

<div class="form-group my-3" style="height:180%;"  >
     <div class="mb-3">
    <label for="connector_name" class="form-label">Name</label>
    <input type="text" class="form-control"   value="{{connector.name}}" id="connector_name" name="connector_name">
    <label for="connector_description" class="form-label mt-3">Description</label>
    <textarea type="text" class="form-control  "   value="{{connector.description}}" id="connector_description" name="connector_description" placeholder="Enter {{type_name}} Description" ></textarea>
  </div>
  <div class="mb-3">
    <label for="task-name" class="form-label   "> Da Uri  </label>

    <input type="text" class="form-control" value="{{connector.da_uri}}" id="da_uri" name="da_uri">


  </div>
</div>

{% endif %}




{% if type_name == 'ai model' %}

<div class="form-group my-3" style="height:180%;"  >
     <div class="mb-3">
    <label for="connector_name" class="form-label">Name</label>
    <input type="text" class="form-control"   value="{{connector.name}}" id="connector_name" name="connector_name">
    <label for="connector_description" class="form-label mt-3">Description</label>
    <textarea type="text" class="form-control  "   value="{{connector.description}}" id="connector_description" name="connector_description" placeholder="Enter {{type_name}} Description" ></textarea>

  </div>
<!--   <div class="mb-3 mt-3">
    <label for="model-name" class="form-label   "> Embedding  </label>
      <select required class="form-control mb-3" id="sample-select" name="embedding_model"  value="{{post_data.embedding_model}}">
    <option value=""  disabled>-- Select Embedding --</option>
        {% for item in embedding_model %}

        {% if post_data.embedding_model == item.name %}
      <option value="{{item.name}}" selected  >{{item.name}}{% if item.description %}({{item.description}}){%endif %}
      </option>
{% else %}
      <option value="{{item.name}}"  >{{item.name}}{% if item.description %}({{item.description}}){%endif %}</option>
        {% endif %}
    {% endfor %}

  
  </select>


    <label for="model-name" class="form-label   "> Pre-trained Model  </label>

    <select required class="form-control" id="sample-select" name="model"  value="{{post_data.model}}">
    <option value=""  disabled>-- Select Model --</option>
        {% for item in train_model %}

        {% if post_data.model == item.name %}
      <option value="{{item.name}}" selected  >{{item.name}}{% if item.description %}({{item.description}}){%endif %}
      </option>
{% else %}
      <option value="{{item.name}}"  >{{item.name}}{% if item.description %}({{item.description}}){%endif %}</option>
        {% endif %}
    {% endfor %}

  
  </select>


  </div> -->
</div>

{% endif %}




{% if type_name == 'pipeline' %}

<div class="form-group my-3" style="height:180%;"  >
     <div class="mb-3">
    <label for="connector_name" class="form-label">Name</label>
    <input type="text" class="form-control"   value="{{connector.name}}" id="connector_name" name="connector_name">
    <label for="connector_description" class="form-label mt-3">Description</label>
    <textarea type="text" class="form-control  "   value="{{connector.description}}" id="connector_description" name="connector_description" placeholder="Enter {{type_name}} Description" ></textarea>

  </div>
  <div class="mb-3">
    <label for="task-name" class="form-label   "> Task  </label>

    <select required class="form-control" id="sample-select" name="tasks"  value="{{post_data.tasks}}">
    <option value=""  disabled>-- Select Task --</option>
        {% for item in data %}

        {% if post_data.tasks == item.pk %}
      <option value="{{item.pk}}" selected  >{{item.name}}</option>
{% else %}
      <option value="{{item.pk}}"  >{{item.name}}</option>
        {% endif %}
    {% endfor %}

  
  </select>


  </div>
</div>

{% endif %}



{% if type_name == 'links' %}

<div class="form-group my-3" style="height:180%;"  >
     <div class="mb-3">
    <label for="connector_name" class="form-label">Name</label>
    <input type="text" class="form-control"   value="{{connector.name}}" id="connector_name" name="connector_name">
    <label for="connector_description" class="form-label mt-3">Description</label>
    <textarea type="text" class="form-control  "   value="{{connector.description}}" id="connector_description" name="connector_description" placeholder="Enter {{type_name}} Description" ></textarea>

  </div>

        
     <div class="mb-3">
        <label for="urlInput" class="form-label">URL Link</label>
        <input type="url" class="form-control" id="urlInput" placeholder="Enter URL" name="url" value="{{post_data.url}}" >
      </div>
      <div class="form-check">
       
    <input type="checkbox" class="form-check-input" id="followInternalLinks" name="follow_internal" value="True" {% if post_data.follow_internal %}checked{% endif %}>
       
        <label class="form-check-label" for="followInternalLinks">Follow Internal Links</label>
      </div>
      <div class="form-check">
             
  <input type="checkbox" class="form-check-input" id="followExternalLinks" name="follow_external" {% if post_data.follow_external %}checked{% endif %}  value="True" >
      
        <label class="form-check-label" for="followExternalLinks">Follow External Links</label>
      </div>
      <div class="form-check">
      
          <input type="checkbox" class="form-check-input" id="readDocuments" name="read_documents_flag" {% if post_data.read_documents_flag %}checked{% endif %} value="True">
     
     
        <label class="form-check-label" for="readDocuments">Read Documents</label>
      </div>

      
 <div class="mb-3">
        <label for="myRange" class="form-label">Depth (<span id="demo"></span>)</label>
       

        <input type="range"  class="form-control"  id="myRange"  name="depth" 
        id="slider"
        min="0"
        max="10"
        step="1"
        value="{% if post_data.depth %}{{post_data.depth}}{% else %}1{% endif %}"
        class="slider"
    >


      </div>
    

   
</div>

{% endif %}

{% if type_name == 'email' %}


<div class="form-group my-3" style="height:180%;"  >
     <div class="mb-3">
    <label for="connector_name" class="form-label">Name</label>
    <input type="text" class="form-control"   value="{{connector.name}}" id="connector_name" name="connector_name">
    <label for="connector_description" class="form-label mt-3">Description</label>
    <textarea type="text" class="form-control  "   value="{{connector.description}}" id="connector_description" name="connector_description" placeholder="Enter {{type_name}} Description" ></textarea>

  </div>
 <div class="form-group">
                <label for="email">Email Address:</label>
                <input type="email" class="form-control" value="{{ email}}" name="email" id="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" value="{{ password}}" name="password" id="password" placeholder="Enter your password" required>
            </div>


            <div class="form-group">
        <label for="smtp_server">SMTP Server:</label>
        <select class="form-control" id="smtp_server" name="smtp_server">
      <option value="smtp.gmail.com">Gmail (smtp.gmail.com)</option>
        <option value="smtp.mail.yahoo.com">Yahoo Mail (smtp.mail.yahoo.com)</option>
        <option value="smtp.live.com">Outlook.com / Hotmail (smtp.live.com)</option>
        <option value="smtp.mail.me.com">iCloud Mail (smtp.mail.me.com)</option>
        <option value="smtp.mail.com">Mail.com (smtp.mail.com)</option>
        <option value="smtp.aol.com">AOL Mail (smtp.aol.com)</option>
        <option value="smtp.office365.com">Office 365 (smtp.office365.com)</option>
        <option value="smtp.zoho.com">Zoho Mail (smtp.zoho.com)</option>
        <option value="smtp.yandex.com">Yandex Mail (smtp.yandex.com)</option>
     <option value="smtp.ionos.com">IONOS Mail (smtp.ionos.com)</option>
            <!-- Add more options for other email providers -->
        </select>
    </div>
    <div class="form-group">
        <label for="smtp_port">SMTP Port:</label>
        <select class="form-control" id="smtp_port" name="smtp_port">
       <option value="587">587</option>
        <option value="465">465</option>
        <option value="25">25</option>
        <option value="2525">2525</option>
        <option value="587">587</option>
        <option value="2525">2525</option>
            <!-- Add more options for different SMTP ports -->
        </select>
    </div>



</div>

{% endif %}




 <a href="" class="Error" data-bs-toggle="modal" style="display: none;" data-bs-target="#connectionNotEstablished" id="create_not_established" >
connectionNotEstablished
   </a>

   <a   class="Error" data-bs-toggle="modal" style="display: none;"  data-bs-target="#connectionEstablished"  id="create_established" >
connectionEstablished
   </a>
   

{% if source_val == 'database' %}


 


     <div class="mb-3">

 
    <label for="connector_name" class="form-label">Name</label>
    <input type="text" class="form-control"   value="{{connector.name}}" id="connector_name" name="connector_name">
  
    <label for="connector_description" class="form-label mt-3">Description</label>
    <textarea type="text" class="form-control  "   value="{{connector.description}}" id="connector_description" name="connector_description" placeholder="Enter {{type_name}} Description" ></textarea>

  </div>
<input type="text" name="db_type" value="{{type_name}}" style="display:none;" />

  <div class="mb-3">
    <label for="host" class="form-label">Host <span style="color:red;" >*</span></label>
    <input  value="{{post_data.host}}" required type="text" class="form-control" id="host" name="host" placeholder="Enter host">
  </div>
  <div class="mb-3">
    <label for="port" class="form-label">Port</label>
    <input  value="{{post_data.port}}" type="text" class="form-control" id="port" name="port" placeholder="Enter port">
  </div>
  <div class="mb-3">
    <label for="db-name" class="form-label">Name / SID  <span style="color:red;" >*</span> </label>
    <input value="{{post_data.db_name}}" required  type="text" class="form-control" id="db_name" name="db_name" placeholder="Enter database name">
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">Username <span style="color:red;" >*</span></label>
    <input value="{{post_data.username}}" required  type="text" class="form-control" id="username" name="username" placeholder="Enter username">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password <span style="color:red;" >*</span></label>
    <input   value="{{post_data.password}}" required type="password" class="form-control" id="password" name="password" placeholder="Enter password">
  </div>
   <div class="mb-3">
    <label for="host" class="form-label">Table Name (SELECT, UPDATE)</label>
    <input  value="{{post_data.table_name}}" type="text" class="form-control" id="table_name" name="table_name" placeholder="Table to query">
  </div>

  <div class="mb-3">
  <label for="sql-query" class="form-label">SQL Query (SELECT)</label>

  <textarea style="background-color: #eeeee;" class="form-control" value="{{post_data.sql_query}}" id="sql_query" name="sql_query" rows="7">{% if post_data.sql_query %}
  {{post_data.sql_query}}
  {% else %}
     SELECT *
    FROM table_name
    WHERE rownum < 3
    AND RICAENTRYDATE < TO_DATE(:LAST_RUN_DATE, 'YYYY-MM-DD')
    {% endif %}</textarea>
</div>
 
  <input   value="" type="text" class="form-control" id="is_test" name="is_test" style="display:none;" >
 


{% endif %}
 

 {% if source_val == 'flatfile' %}

  <div class="mb-3">
    <label for="connector_name" class="form-label">Name</label>
    <input type="text" class="form-control"   value="{{connector.name}}" id="connector_name" name="connector_name">
   <label for="connector_description" class="form-label mt-3">Description</label>
    <textarea type="text" class="form-control  "   value="{{connector.description}}" id="connector_description" name="connector_description" placeholder="Enter {{type_name}} Description" ></textarea>
     </div>
  <div class="mb-3" style="display:none;">
    <label for="file-type" class="form-label">File Type </label> 
    <input  value="{{type_name}}" required class="form-select" id="file-type" name="filetype" />
       
  </div>


  <div class="mb-3">
    <label for="file-path" class="form-label">File Path</label>

       {% if post_data.file_path|length %}
         <input style="    height: 70px;
    padding-top: 20px;"  value="{{post_data.file_path}}" type="file" class="form-control" id="file-path"  multiple name="files" accept=".json, .xml, .txt, .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.doc,.docx,.pdf">
       <p class="mt-2 mb-0" style="font-size:13px;" > <span class="font-weight-bold" > Selected Files ({{post_data.file_path|length}}) : </span> {{post_data.file_path}}  </p>

       {% else %}
              <input   required value="{{post_data.file_path}}" type="file" class="form-control file-upload-input" id="file-path"  multiple name="files" accept=".json, .xml, .txt, .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.doc,.docx,.pdf" style="    height: 70px;
    padding-top: 20px;">
       {% endif %}
  </div>

{% if type_name != 'PDF' %}

  <div class="mb-3">
    <label for="delimiter" class="form-label">Delimiter</label>
    <input type="text" class="form-control" value="{{post_data.delimiter}}" id="delimiter" name="delimiter" value=",">
  </div>
  <div class="mb-3">
    <label for="quotechar" class="form-label">Quote Character</label>
    <input type="text" class="form-control" value="{{post_data.quotechar}}" id="quotechar" name="quotechar" value='"'>
  </div>


{% endif %}

{% endif %}


{% if source_val == 'api' %}

    <div class="mb-3">
    <label for="connector_name" class="form-label">Name</label>
    <input type="text" class="form-control"   value="{{connector.name}}" id="connector_name" name="connector_name">
   <label for="connector_description" class="form-label mt-3">Description</label>
    <textarea type="text" class="form-control  "   value="{{connector.description}}" id="connector_description" name="connector_description" placeholder="Enter {{type_name}} Description" ></textarea>
     </div>
  <div class="mb-3">
    <label for="api-name" class="form-label">API Name</label>
    <input  required type="text" class="form-control" value="{{post_data.apiname}}" id="api-name" name="apiname">
  </div>
  <div class="mb-3">
    <label for="api-type" class="form-label">API Type</label>
    <select  required class="form-select" id="api-type" value="{{post_data.apitype}}" name="apitype">
      <option selected disabled>-- Select API Type --</option>
      <option value="rest">REST</option>
      <option value="soap">SOAP</option>
      <option value="graphql">GraphQL</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="api-endpoint" class="form-label">API Endpoint</label>
    <input  required type="text" class="form-control" id="api-endpoint" value="{{post_data.apiendpoint}}" name="apiendpoint">
  </div>
  <div class="mb-3">
    <label for="api-username" class="form-label">API Username</label>
    <input  required type="text" class="form-control" id="api-username" value="{{post_data.apiusername}}" name="apiusername">
  </div>
  <div class="mb-3">
    <label for="api-password" class="form-label">API Password</label>
    <input  required type="password" class="form-control" id="api-password" value="{{post_data.apipassword}}" name="apipassword">
  </div>
  <div class="mb-3">
    <label for="api-token" class="form-label">API Token</label>
    <input type="text" class="form-control" id="api-token" value="{{post_data.apitoken}}" name="apitoken">
  </div>
 
{% endif %}


{% if source_val == 'application' %}
 
   <div class="mb-3">
    <label for="connector_name" class="form-label">Name</label>
    <input type="text" class="form-control"   value="{{connector.name}}" id="connector_name" name="connector_name">
   <label for="connector_description" class="form-label mt-3">Description</label>
    <textarea type="text" class="form-control  "   value="{{connector.description}}" id="connector_description" name="connector_description" placeholder="Enter {{type_name}} Description" ></textarea>

     </div>
  <div class="mb-3">
    <label for="application-name" class="form-label" >Application Name</label>
    <select  required class="form-select" value="{{post_data.appname}}" id="application-name" name="appname">
      <option value="" selected disabled>Select an application</option>
      <option value="SAP">SAP</option>
      <option value="Salesforce">Salesforce</option>
      <option value="Microsoft Dynamics">Microsoft Dynamics</option>
      <option value="Oracle E-Business Suite">Oracle E-Business Suite</option>
      <!-- Add more options as needed -->
    </select>
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input  required type="text" class="form-control" value="{{post_data.username}}" id="username" name="username">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input required  type="password" class="form-control" value="{{post_data.password}}" id="password" name="password">
  </div>
 

{% endif %}

{% if source_val == 'social_media' %}
  <div class="my-3 ">
    <label for="connector-type" class="form-label">Social Media</label>
    <select class="form-select" id="media_type" name="media_type" value="{{post_data.media_type}}">
      <option selected disabled>Select Connector Type</option>
      <option value="facebook">Facebook</option>
      <option value="twitter">Twitter</option>
      <option value="linkedin">LinkedIn</option>
      <option value="instagram">Instagram</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="client-id" class="form-label">Client ID</label>
    <input type="text" class="form-control" id="client_id" name="client_id" value="{{post_data.client_id}}" required>
  </div>
  <div class="mb-3">
    <label for="client-secret" class="form-label">Client Secret</label>
    <input type="password" class="form-control" id="client_secret" name="client_secret"  value="{{post_data.client_id}}">
  </div>
  <div class="mb-3">
    <label for="access-token" class="form-label">Access Token</label>
    <input type="text" class="form-control" id="access_token" name="access_token"  value="{{post_data.client_id}}">
  </div>


{% endif %}



{% if source_val == 'cloud' %}
 
       <div class="mb-3">
    <label for="connector_name" class="form-label">Name</label>
    <input type="text" class="form-control"   value="{{connector.name}}" id="connector_name" name="connector_name">
      <label for="connector_description" class="form-label mt-3">Description</label>
    <textarea type="text" class="form-control  "   value="{{connector.description}}" id="connector_description" name="connector_description" placeholder="Enter {{type_name}} Description" ></textarea>
  </div>

  <div class="mb-3">
    <label for="service" class="form-label">Service</label>
    <select  required class="form-select" id="service" name="service" value="{{post_data.service}}"  required>
      <option value="">-- Select a service --</option>
      <option value="aws">Amazon S3</option>
      <option value="gcp">Google Cloud Storage</option>
      <option value="azure">Azure Blob Storage</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="access_key" class="form-label">Access Key</label>
    <input  required type="text" class="form-control" id="access_key" name="access_key" value="{{post_data.access_key}}"  required>
  </div>
  <div class="mb-3">
    <label for="secret_key" class="form-label">Secret Key</label>
    <input required  type="password" class="form-control" id="secret_key" name="secret_key" value="{{post_data.secret_key}}"  required>
  </div>
  <div class="mb-3">
    <label for="bucket_name" class="form-label">Bucket Name</label>
    <input type="text" class="form-control" id="bucket_name" name="bucket_name" value="{{post_data.bucket_name}}"  required>
  </div>
  <div class="mb-3">
    <label for="region" class="form-label">Region</label>
    <input type="text" class="form-control" id="region" name="region"  value="{{post_data.region}}"  required>
  </div>
  <div class="mb-3">
    <label for="endpoint" class="form-label">Endpoint</label>
    <input type="text" class="form-control" id="endpoint" name="endpoint" value="{{post_data.endpoint}}" >
    <div class="form-text">Enter an endpoint URL for custom services, leave blank otherwise.</div>
  </div>
 
  
{% endif %}

{% if source_val == 'iot' %}
 
      <div class="mb-3">
    <label for="connector_name" class="form-label">Name</label>
    <input type="text" class="form-control"   value="{{connector.name}}" id="connector_name" name="connector_name">
     <label for="connector_description" class="form-label mt-3">Description</label>
    <textarea type="text" class="form-control  "   value="{{connector.description}}" id="connector_description" name="connector_description" placeholder="Enter {{type_name}} Description" ></textarea>
  </div>

  <div class="mb-3">
    <label for="connector_name" class="form-label">Connector Type</label>
    <select class="form-select" aria-label="Select Connector" id="connector_iot_type" name="connector_iot_type" value="{{post_data.connector_iot_type}}" >
      <option selected disabled>-- Select Connector --</option>
      <option value="MQTT Connector">MQTT Connector</option>
      <option value="CoAP Connector">CoAP Connector</option>
      <option value="LoRaWAN Connector">LoRaWAN Connector</option>
      <option value="Zigbee Connector">Zigbee Connector</option>
      <option value="Bluetooth Connector">Bluetooth Connector</option>
      <option value="Modbus TCP Connector">Modbus TCP Connector</option>
      <option value="OPC UA Connector">OPC UA Connector</option>
      <option value="HTTP Connector">HTTP Connector</option>
      <option value="AMQP Connector">AMQP Connector</option>
      <option value="XMPP Connector">XMPP Connector</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="device-type" class="form-label">Device Type</label>
    <input type="text" class="form-control" id="device-type" name="device_type" value="{{post_data.device_type}}" >
  </div>
  <div class="mb-3">
    <label for="device-id" class="form-label">Device ID</label>
    <input type="text" class="form-control" id="device-id" name="device_id" value="{{post_data.device_id}}" >
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" value="{{post_data.username}}" >
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" value="{{post_data.password}}" >
  </div>
 
{% endif %}


     {% if type_name == 'ai model' %} 
          <!--    <div class="form-check form-switch my-4">

       <label for="overwrite_trained_data" class="form-check-label">Overwrite Trained Data:</label>

            <input type="checkbox" class="form-check-input" style="min-height:20px"   id="overwrite_trained_data" name="overwrite_trained_data"   >
        </div> -->
{% endif %}


    {% if source_val != 'task' %}
<div style="display:flex;flex-direction:row; justify-content:space-between;align-items:center;" >
    

    <input type="submit"   value="{% if type_name == 'ai model' %} Create {% else %} Import {% endif %}"  class="btn   btn-lg active my-3 text-white" role="button" aria-pressed="true" style="background:#0053a6;width:100%;" />

  
</div>
  {% else %}

    <button class="btn  btn-primary btn-lg active my-3" role="button" aria-pressed="true" style="background:#0053a6;">
{% if type_name == 'ai model' %} Create {% else %} Import {% endif %}
</button>
        {% endif %}

<!-- Edit fakedata sample -->
  <pre  class="my-3" style="text-wrap: wrap !important;"  id="datasets_readme"    ></pre>

</form>




                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>


          
          
        </div>
      </div>
    </div>
 
    



     <div class="modal fade" id="connectionEstablished" tabindex="-1" aria-labelledby="connectionEstablishedLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header   " style="background-color:green;" >
          <h5 class="modal-title text-white " id="connectionEstablishedLabel">Connection Established</h5>
          <button type="button" class="btn-close btn-danger " data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-success text-centers ">
              
 {{connector.name}} connection successfully established.

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
                </div>
      </form>
    </div>
  </div>
</div>



     <div class="modal fade" id="connectionNotEstablished" tabindex="-1" aria-labelledby="connectionNotEstablishedLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header   " style="background-color:red;" >
          <h5 class="modal-title text-white " id="connectionNotEstablishedLabel">Connection Failed</h5>
          <button type="button" class="btn-close btn-danger " data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-danger   ">
              
 {{connector.name}} connection failed : {{error}}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
                </div>
      </form>
    </div>
  </div>
</div>





  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}


<style type="text/css">
  .main {
    width: 100%; 

}



/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.source:hover {
    border: 1px solid green;

}

label {
    font-size: 15px;
    margin-bottom: 15px;
}

#sample-textarea {
    white-space: pre-line;  

white-space: pre-wrap;
}
</style>


<script > 

   $(document).ready(function(){
    
     var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
        removeItemButton: true,
        maxItemCount:5,
        searchResultLimit:5,
        renderChoiceLimit:5
      }); 
     
     
 });


var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}

var is_test = '{{ is_test|escapejs }}';
var test_status = '{{ test_status|escapejs }}'; 

if (is_test){
  if (test_status=="True"){
  document.getElementById('create_established').click()
} else {
 document.getElementById('create_not_established').click()
}

}



</script>



<!-- <script src="{% static 'ace/ace.js' %}"></script>  -->
  <script> 
  $('#test').on('click',function(event) {
    event.preventDefault(); // Prevents the form from submitting
    $('#is_test').val('True');
    console.log('testing')
    // Submit the form programmatically
    $("#cred-form").submit();
  });
 



 $('#choices-multiple-remove-button').on('change', function() {

const cur_val = $(this).val()

  const  mydata = {{ data|safe }};

$.each(mydata, function( index, value ) {
if (cur_val === value['id'] ){
 // $('#sample-textarea').val(JSON.stringify(value['data']))
 // $('#datasets #connector_description').val(JSON.stringify(value['readme']))
 $('#datasets_readme').html(value['readme'])
 $('input#datasets_description').val(value['readme'])

}
});
 
});



    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
{% endblock javascripts %}

