absl-py==2.1.0
aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.13.2
altair==5.3.0
amqp==5.2.0
annotated-types==0.7.0
ansicon==1.89.0
anyio==4.4.0
apispec==6.6.1
appdirs==1.4.4
APScheduler==3.10.4
arabic-reshaper==3.0.0
ArabicOcr==1.1.6
argcomplete==3.4.0
arrow==1.3.0
asgiref==3.4.1
asttokens==2.4.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.3
attrs==23.2.0
autopep8==1.6.0
awsebcli==3.20.9
Babel==2.15.0
backcall==0.2.0
backoff==2.2.1
bandit==1.7.9
bcrypt==4.1.3
beautifulsoup4==4.12.3
billiard==4.2.0
bleach==6.1.0
blessed==1.20.0
blinker==1.8.2
bokeh==3.4.2
boto3==1.34.141
botocore==1.34.141
bs4==0.0.2
build==1.2.1
cachelib==0.13.0
cachetools==5.3.3
cattrs==23.2.3
celery==5.4.0
cement==2.8.2
certifi==2024.7.4
cffi==1.15.1
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.5.3
ci-info==0.3.0
click==8.1.3
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
clickclick==20.10.2
clickhouse-connect==0.7.16
clr-loader==0.2.6
coinbase-commerce==1.0.1
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
commonmark==0.9.1
configobj==5.0.8
configparser==7.0.0
ConfigUpdater==3.2
connexion==3.1.0
contourpy==1.2.1
coordinates==0.4.0
coreapi==2.3.3
coreschema==0.0.4
cron-descriptor==1.4.3
croniter==2.0.5
cryptography==37.0.4
cx-Oracle==8.3.0
cycler==0.12.1
dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses-json==0.6.7
datasets==2.20.0
decorator==5.1.1
deeplake==3.9.12
defusedxml==0.7.1
Deprecated==1.2.14
diff-match-patch==20230430
dill==0.3.8
distlib==0.3.6
Django==4.0.10
django-bulma==0.9.0
django-cors-headers==3.10.1
django-crispy-forms==2.0
django-import-export==4.1.1
django-paypal==2.1
django-picklefield==3.2
django-q==1.3.9
django-widget-tweaks==1.4.8
djangorestframework==3.13.1
djangorestframework-simplejwt==5.0.0
dkimpy==1.1.5
dnspython==2.5.0
docutils==0.21.2
docx==0.2.4
duckdb==1.0.0
easyocr==1.7.1
email_validator==2.2.0
entrypoints==0.4
et-xmlfile==1.1.0
etelemetry==0.3.1
exceptiongroup==1.2.1
executing==2.0.1
faiss-cpu==1.8.0.post1
fake-headers==1.0.2
Faker==26.0.0
fastapi==0.111.0
fastapi-cli==0.0.4
favicon==0.7.0
filelock==3.9.0
fitz==0.0.1.dev2
Flask==2.0.2
flatbuffers==24.3.25
flower==2.0.1
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.5.0
future==1.0.0
gast==0.6.0
gdcm==1.1
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.136.0
google-auth==2.31.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-generativeai==0.7.1
google-pasta==0.2.0
googleapis-common-protos==1.63.2
graphviz==0.20.3
greenlet==3.0.3
grpcio==1.64.1
grpcio-status==1.62.2
gunicorn==22.0.0
h11==0.13.0
h5py==3.11.0
htbuilder==0.6.2
html5lib==1.1
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.4
humanfriendly==10.0
humanize==4.10.0
humbug==0.3.2
idna==3.3
imageio==2.34.2
imap-tools==1.6.0
importlib_metadata==7.1.0
importlib_resources==6.4.0
inflection==0.5.1
iniconfig==2.0.0
intel-openmp==2021.4.0
isodate==0.6.1
itsdangerous==2.0.1
itypes==1.2.0
jedi==0.19.1
Jinja2==3.0.3
jinxed==1.2.1
jmespath==1.0.1
joblib==1.2.0
jsonpatch==1.33
jsonpickle==3.2.2
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
keras==3.4.1
kiwisolver==1.4.5
kombu==5.3.7
kubernetes==30.1.0
langchain==0.2.7
langchain-community==0.2.7
langchain-core==0.2.12
langchain-text-splitters==0.2.2
langsmith==0.1.84
lazy-object-proxy==1.10.0
lazy_loader==0.4
Levenshtein==0.25.1
libclang==18.1.1
linkify-it-py==2.0.3
lockfile==0.12.2
loguru==0.7.2
looseversion==1.3.0
lxml==5.2.2
lz4==4.3.3
Mako==1.3.5
Markdown==3.6
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupPy==1.14
MarkupSafe==2.1.5
marshmallow==3.21.3
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.1.1
marshmallow-sqlalchemy==1.0.0
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.1
mdurl==0.1.2
mkl==2021.4.0
ml-dtypes==0.4.0
mmh3==4.1.0
monotonic==1.6
more-itertools==10.3.0
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
mypy==1.10.1
mypy-extensions==1.0.0
namex==0.0.8
nest-asyncio==1.6.0
networkx==3.2.1
nibabel==5.2.1
ninja==1.11.1.1
nipype==1.8.6
nltk==3.8.1
numcodecs==0.12.1
numexpr==2.10.1
numpy==1.23.5
oauthlib==3.2.2
odfpy==1.4.1
onnxruntime==1.18.1
openai==0.19.0
openapi==2.0.0
openapi-schema-pydantic==1.2.4
opencv-contrib-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-asgi==0.46b0
opentelemetry-instrumentation-fastapi==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opentelemetry-util-http==0.46b0
opt-einsum==3.3.0
optree==0.12.1
orjson==3.10.6
outcome==1.2.0
overrides==7.7.0
package-name==0.1
packaging==24.1
pandas==2.2.2
pandas-stubs==1.2.0.35
parso==0.8.4
pathlib==1.0.1
pathos==0.3.2
pathspec==0.10.1
paypal==1.2.5
pbr==5.11.1
pdfkit==1.0.0
pdfminer.six==20231228
pdfplumber==0.11.2
pendulum==3.0.0
pickleshare==0.7.5
pillow==10.2.0
pkgutil_resolve_name==1.3.10
platformdirs==3.1.0
plotly==5.22.0
pluggy==1.5.0
posthog==3.5.0
pox==0.3.4
ppft==1.7.6.8
prison==0.2.1
prometheus_client==0.20.0
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==4.25.3
prov==2.0.1
psutil==6.0.0
pulsar-client==3.5.0
pure-eval==0.2.2
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyclipper==1.3.0.post5
pycodestyle==2.8.0
pycparser==2.21
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.9.1
pydicom==2.4.4
pydot==2.0.0
Pygments==2.18.0
PyJWT==2.8.0
pymdown-extensions==10.8.1
Pympler==1.1
pymssql==2.3.0
PyMuPDF==1.24.7
PyMuPDFb==1.24.6
PyMySQL==1.1.1
pyodbc==5.1.0
pyOpenSSL==22.0.0
pyparsing==3.1.2
pypdf==4.2.0
pypdfium2==4.30.0
PyPika==0.48.9
pypiwin32==223
pyproject_hooks==1.1.0
pyreadline3==3.4.1
pyrsistent==0.20.0
PySocks==1.7.1
pytesseract==0.3.10
pytest==8.2.2
python-bidi==0.4.2
python-daemon==3.0.1
python-dateutil==2.8.2
python-decouple==3.8
python-docx==1.1.2
python-dotenv==1.0.1
python-Levenshtein==0.25.1
python-multipart==0.0.9
python-nvd3==0.16.0
python-slugify==8.0.4
python3-openid==3.2.0
pythonnet==3.0.3
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
PyWavelets==1.6.0
pywin32==306
pyxnat==1.6.2
PyYAML==6.0.1
pyzbar==0.1.9
rapidfuzz==3.9.4
rdflib==6.3.2
redis==3.5.3
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3986==2.0.0
rich==13.7.1
rpds-py==0.19.0
rsa==4.9
s3transfer==0.10.2
safetensors==0.4.3
schedule==1.2.2
scikit-image==0.24.0
scikit-learn==1.2.1
scipy==1.10.1
scraperapi-sdk==0.2.2
scrapingbee==1.1.7
selenium==4.3.0
semantic-version==2.8.5
setproctitle==1.3.3
shapely==2.0.4
shellingham==1.5.4
sib-api-v3-sdk==7.6.0
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
sniffio==1.2.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==2.0.31
SQLAlchemy-JSONField==1.0.2
SQLAlchemy-Utils==0.41.2
sqlparse==0.4.2
st-annotated-text==4.0.1
st-theme==1.2.3
stack-data==0.6.3
starlette==0.37.2
stevedore==5.0.0
streamlit==1.36.0
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.4.3
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.2.4
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
stripe==10.2.0
sympy==1.12
tablib==3.5.0
tabulate==0.9.0
tbb==2021.13.0
tenacity==8.5.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
termcolor==1.1.0
text-unidecode==1.3
threadpoolctl==3.1.0
tifffile==2024.7.2
tiktoken==0.7.0
time-machine==2.14.2
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==2.3.1
torchvision==0.18.1
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
traits==6.3.2
transformers==4.42.3
trio==0.21.0
trio-websocket==0.9.2
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2022.7
tzlocal==5.2
uc-micro-py==1.0.3
ujson==5.10.0
unicodecsv==0.14.1
uritemplate==4.1.1
urllib3==1.26.7
uvicorn==0.30.1
validators==0.32.0
vine==5.1.0
virtualenv==20.20.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.7
Wand==0.6.13
watchdog==4.0.1
watchfiles==0.22.0
wcwidth==0.1.9
webdrivermanager==0.10.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.3
win32-setctime==1.1.0
wrapt==1.16.0
wsproto==1.1.0
WTForms==3.1.2
xlrd==2.0.1
xlwt==1.3.0
xxhash==3.4.1
xyzservices==2024.6.0
yarl==1.9.4
zipp==3.19.2
zstandard==0.22.0
