{% load static %}
<footer class="footer pt-3">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-left">
                &copy; 
                <a href="" class="font-weight-bold" target="_blank">Powered by 3x0</a> 
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <!--<a href="https://www.creative-tim.com/product/soft-ui-dashboard-django" 
                     class="nav-link text-muted" target="_blank">Product</a>-->
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
 
    <script>
        var $SCRIPT_ROOT = 'http://localhost:8030';
    </script>
        <script type="text/javascript" src="{% static 'app.js' %}">
        
        </script>
      
      