<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Anada - Data Science & Analytics Template">

    <!-- ========== Page Title ========== -->
    <title>PYE</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="{% static 'assets/img/favicon1.png' %}" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/themify-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/flaticon-set.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/bootsnav.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5/html5shiv.min.js"></script>
      <script src="assets/js/html5/respond.min.js"></script>
    <![endif]-->

    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap" rel="stylesheet">

</head>
<style>
    /* Add your CSS styles here to customize the appearance of the navbar and logo */
    .header {
      background-color: #04042d;
      box-shadow: 2px -3px 20px 20px rgb(17 22 218 / 50%);
      padding: 5px;
    }

    .logo {
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      color: white;
      padding: 8px 16px;
      border-radius: 4px;
/*      background-color: #ffffff;*/
/*      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    }

    .navbar-links {
      margin-left: 24px;
    }

    .navbar-links a {
      color: #001b41;
      text-decoration: none;
      padding: 8px;
    }

    .navbar-links a:hover {
      background-color: #f0f0f0;
    }

    .support {
      margin-left: auto;
    }

    .support button {
      padding: 8px 16px;
      background-color: #001b41;
      color: #ffffff;
      border: none;
      cursor: pointer;
    }

    .support button:hover {
      background-color: #002c63;
    }
  </style>
</head>
 {% include 'layouts\header.html' %}

<body>

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->
   





    <!-- Start Banner 
    ============================================= -->
    <div class="banner-area btn-video shape-right top-pad-50 bg-gray text-combo">
        <div class="item">
            <div class="box-table">
                <div class="box-cell">
                    <div class="container">
                        <div class="row">
                            <div class="double-items">
                                <div class="col-lg-7 info">
                                  
                                    <a>
                                        
                                    </a>
                                    <h2 style="line-height:1.22" class="wow fadeInDown" data-wow-duration="1s">Build Custom Chatbots for Your Platform in 3 Simple Steps.</h2>
                                    <p class="wow fadeInUp" data-wow-duration="1.5s">
                                        
                                    </p>
                                    <div class="button wow fadeInLeft" data-wow-duration="1.7s">
                                        <a class="btn-simple md light" href="https://www.youtube.com/watch?v=MuzSjYL1lt4" ><i class="fas fa-angle-right"></i> Play Video</a>
                                        <a href="https://www.youtube.com/watch?v=MuzSjYL1lt4" class="popup-youtube theme video-play-button inline item-center relative">
                                            <!-- https://www.youtube.com/watch?v=Ju-86rnV0S8&t=65s -->
                                            <i class="fa fa-play"></i>
                                        </a>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    
    <style type="text/css">

     .button-container {
        display: flex;
        gap: 5px; /* Adjust the gap between buttons */
    }
    </style>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>


<!-- Start Services Area
    ============================================= -->
    <!-- End Our About -->

        <!-- Star Our Story
    ============================================= -->
</div>
   <!-- Star Footer
    ============================================= -->
    <footer style="background-color: #04042d; color: white; margin-top: 50px;" >
        <div class="container" >
            <div class="f-items default-padding">
                <div class="row">
                    <div class="equal-height col-lg-4 col-md-6 item">
                        <div class="f-item about">
                             <a href="/?linkId=hd.log.home" data-linkid="hd.log.home" id="button-hd-log-home" aria-label="Return to home page" class="logo">
            <span style="font-size: 40px; font-weight: bold!important; color:white ;">☫</span> PYE</a>
                            <p style="color: #139FD7;">
                                Required honoured trifling eat pleasure man relation. Assurance yet bed was improving furniture man. Distrusts delighted
                            </p>
                        </div>
                    </div>

                    <div class="equal-height col-lg-2 col-md-6 item" style="">
                        <div class="f-item link">
                            <h4 style="color: white!important; font-weight: bold;">Usefull Links</h4>
                            <ul>
                                <li>
                                    <a href="#"  style="color: white!important;">Classic Business</a>
                                </li>
                                <li>
                                    <a href="#" style="color: white!important;">Blog</a>
                                </li>
                                <li>
                                    <a href="#"style="color: white!important;">Project</a>
                                </li>
                                <li>
                                    <a href="#"style="color: white!important;">About Us</a>
                                </li>
                                <li>
                                    <a href="#"style="color: white!important;">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="equal-height col-lg-2 col-md-6 item">
                        <div class="f-item link">
                            <h4 style="color: white!important; font-weight: bold;">Services</h4>
                            <ul style="color: white;">
                                <li>
                                    <a href="#" style="color: white!important;">Marketing & Sales</a>
                                </li>
                                <li>
                                    <a href="#"style="color: white!important;">Manufacturing</a>
                                </li>
                                <li>
                                    <a href="#"style="color: white!important;">Supply Chain</a>
                                </li>
                                <li>
                                    <a href="#"style="color: white!important;">Data Visualization</a>
                                </li>
                                <li>
                                    <a href="#"style="color: white!important;">Big Data</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="equal-height col-lg-4 col-md-6 item">
                        <div class="f-item contact">
                            <h4 style="color: white!important; font-weight: bold;">Contact Info</h4>
                            <p style="color: white!important;">
                                 Possible offering at contempt mr distance stronger an. Attachment excellence announcing
                            </p>
                            <div class="address">
                                <ul>
                                    <li>
                                        <strong>Email:</strong> 3xotech@gmail.com
                                    </li>
                                    <li>
                                        <strong>Contact:</strong> +44-20-7328-4499
                                    </li>
                                </ul>
                            </div>
                            <ul class="social">
                                <li class="facebook">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="twitter">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li class="youtube">
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </li>
                                <li class="instagram">
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row">
                    <div class="col-lg-6">
                        <p style="color: white!important;">&copy; Copyright 2023. All Rights Reserved by 3x0 <a href="#">3x0themes</a></p>
                    </div>
                    <div class="col-lg-6 text-right link">
                        <ul>
                            <li>
                                <a href="#"  style="color:  #139FD7;">Terms</a>
                            </li>
                            <li>
                                <a href="#" style="color:  #139FD7;">Privacy</a>
                            </li>
                            <li>
                                <a href="#" style="color:  #139FD7;">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shape -->
        <div class="footer-shape" style="background-image: url(assets/img/shape/1.svg);"></div>
        <!-- End Shape -->
    </footer>
    <!-- End Footer-->


    <!-- jQuery Frameworks
    ============================================= -->
    <script src="{% static 'assets/js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/equal-height.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.appear.js' %}"></script>
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/modernizr.custom.13711.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/progress-bar.min.js' %}"></script>
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/count-to.js' %}"></script>
    <script src="{% static 'assets/js/YTPlayer.min.js' %}"></script>
    <script src="{% static 'assets/js/circle-progress.js' %}"></script>
    <script src="{% static 'assets/js/bootsnav.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>